{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayFilms</title>
</head>
<body>
<header>
    <div>PlayFilms</div>
    <div>
        {% if data.is_auth %}
            <input id="buscar" type="text"> <input type="submit" value="Buscar">
            <a href="">favoritos</a>
            <a href="{{ data.username }}"></a>, <a href="{% url 'user:logout' %}">Logout</a>
        {% endif %}
    </div>
</header>
    {% block content %}
    {% endblock %}
</body>
</html>