{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayFilms</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<header>
    <div><a href="{%  url 'catalogue:content' %}">PlayFilms</a></div>
    <div>
        {% if data.is_auth %}
            <form action="{%  url 'catalogue:content' %}" method="get">
                <input id="buscar" type="search" name="q"><input type="submit" value="Buscar">
            </form>
            <a href="{% url 'user:favorites' %}">favoritos</a>
            <a href="">{{ data.username }}</a>, <a href="{% url 'user:logout' %}">Logout</a>
        {% endif %}
    </div>
</header>
    {% block content %}
    {% endblock %}
</body>
</html>
