{% extends 'base.html' %}
{% block content %}
  <div class="mejor-calificados">
    {% for elemento in content %}
      <img src="{{ elemento.cover.url }}" alt="{{ elemento.title }}" width="100px">
    {% endfor %}
  </div>
    <p>{{ episode.serie }}</p>
    <p>{{ episode.title }}</p>
    <p>Numero de capitulo:{{ episode.order }}</p>
    <video controls width="500">
        <source src="{{ episode.episode_file.url }}" type="video/mp4">
        Your browser does not support the video element.
    </video>
{% endblock %}