{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
      <title>PlayFilms</title>
    </head>
    <body>
   <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login"/> o <a href="{% url 'user:signup' %}">registrate</a>
        </form>
       <p><a href="{% url 'user:reset' %}">Recuperar contraseña</a></p>
    </div>
    </body>
</html>
