{% extends 'base.html' %}
{% block content %}
  <div class="mejor-calificados">
    {% for elemento in content %}
      <img src="{{ elemento.cover.url }}" alt="{{ elemento.title }}" width="100px">
    {% endfor %}
  </div>
  <p>{{ film.title }}</p>
  <p id="puntaje">{{ film.score }}</p>
  <p>{{ film.category }}</p>
  <p>{{ film.get_type_of_content_display }}</p>
  <p>Actores: </p>
  <ul>
    {% for actor in film.actors.all %}
      <li>{{ actor.name }} {{ actor.role }}</li>
    {% endfor %}
  </ul>
  <video controls width="500">
    <source src="{{ film.content_file.url }}" type="video/mp4">
    Your browser does not support the video element.
  </video>
  <form action="{% url 'catalogue:agregar' %}" method="GET" id="favorito">
    <input type="text" value="{{ film.id }}" id="fav" hidden>
    <input type="submit" id="submit-favorito" value="{{ data.fav_submit }}">
  </form>
  <form action="{% url 'catalogue:puntuar' %}" method="GET" id="puntuar">
    <input type="number" min="0" max="10" id="calificacion" required>
    <input type="text" value="{{ film.id }}" id="calificacion-id" hidden>
    <input type="submit" value="Calificar">
  </form>
  <script>
      $("#favorito").on('submit', function (e) {
          e.preventDefault();
          $.ajax({
              url: "/catalogo/agregar/",
              type: "GET",
              data: {"film": $('#fav').val()},
              success: function (json) {
                  console.log("Es favorito: " + json.favorito);
                  if (json.favorito)
                      $("#submit-favorito").val("Quitar de favoritos");
                  else
                      $("#submit-favorito").val("Agregar a favoritos");
              },
              error: function (xhr, errmsg, err) {
                  consolo.log("ERROR: " + err);
                  consolo.log("ERROR MESSAGE: " + errmsg);
                  console.log(xhr.status + ': ' + xhr.responseText)
              }
          });
      });
      $("#puntuar").on('submit', function (e) {
          e.preventDefault();
          $.ajax({
              url: "/catalogo/puntuar/",
              type: "GET",
              data: {
                  "film": $('#calificacion-id').val(),
                  "calificacion": $('#calificacion').val()
              },
              success: function (json) {
                  console.log("It works?: " + json.ok);
                  $('#puntaje').text(json.puntaje);
              },
              error: function (xhr, errmsg, err) {
                  consolo.log("ERROR: " + err);
                  consolo.log("ERROR MESSAGE: " + errmsg);
                  console.log(xhr.status + ': ' + xhr.responseText)
              }
          });
      });
  </script>
{% endblock %}