{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Mi perfil</h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6">
          <div class="panel-heading">
            <div class="panel-title text-center">
              <h3 class="title">Datos personales</h3>
            </div>
          </div>
          <img src="{{ user.userprofile.avatar.url }}"  width="100px" height="100px" class="img-circle center-block">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in uform %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endfor %}
            {% for field in pform %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endfor %}
            <input type="submit" value="Guardar datos" class="btn btn-primary pull-right"/>
          </form>
        </div>
        <div class="col-md-6">
          <div class="panel-heading">
            <div class="panel-title text-center">
              <h3 class="title">Datos de pago</h3>
            </div>
          </div>
          <form action="" method="POST">
            {% csrf_token %}
            {% for field in cform %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endfor %}
            <div class="form-group ">
              <input type="submit" value="Guardar datos" class="btn btn-primary pull-right"/>
            </div>
          </form>
          <form action="{% url 'user:borrar' %}" method="POST" name="borrar-form" >
            {% csrf_token %}
            <div class="form-group ">
              <input type="submit" value="Cancelar cuenta" name='borrar' class="btn btn-danger pull-right"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
  </div>
{% endblock %}