{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>PlayFilms</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">PlayFilms</h1>
        <hr/>
      </div>
        <div class="main-reset main-center">
            <div class="panel-heading">
                <div class="panel-title text-center">
                  <h2 class="title">Recuperar Contraseña</h2>
                </div>
            </div>
          {% if data.mensaje %}
            <p>{{ data.mensaje }}</p>
          {% elif data.error %}
            <p>{{ data.error }}</p>
          {% endif %}
          <label>Ingresa tu nombre de usuario para que se pueda mandar un correo para recuperar tu contraseña</label>
          <form action="" method="POST">
            {% csrf_token %}
              <label>Nombre de usuario</label>
              <div>
                  <input type="text" class="form-control"  name="user" required>
               </div>
                  <div class="col-lg-0 col-centered" >
                      <input type="submit" class="btn btn-primary reset-button" value="Enviar"/>
                  </div>
          </form><p></p>
          <p align="right"><a href="{% url 'user:login' %}">Utilizar una cuenta diferente</a></p>
        </div>
    </div>
  </div>
</div>
</body>
</html>