{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
  <h3 class="page-header">Top 5 mejores peliculas</h3>
  <div id="carousel1" class="carousel slide" data-ride="carousel" style='background-color: #000000;'>
    <!-- Contenedor de las imagenes -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" align="center">
        <img src="{% static 'images/logo.png' %}" alt="PlayFilms" width="1000px">
      </div>
      {% for elemento in content %}
        <div class="item" align="center">
          {% if elemento.type_of_content == 1 %}
            <a href="{% url 'catalogue:pelicula' pk=elemento.pk %}">
              <img src="{{ elemento.cover.url }}" alt="{{ elemento.title }}" width="500px" height="300px">
              <div class="carousel-caption"><h1>{{ elemento.title }}</h1></div>
            </a>
          {% else %}
            <a href="{% url 'catalogue:serie' pk=elemento.pk %}">
              <img src="{{ elemento.cover.url }}" alt="{{ elemento.title }}" width="500px" height="300px">
              <div class="carousel-caption"><h1>{{ elemento.title }}</h1></div>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary" align="center">
      <div class="panel-heading">
        <h1 class="panel-title">Datos Generales</h1>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr>
            <td><strong>{{ serie.get_type_of_content_display }}</strong></td>
            <td>{{ serie.title }}</td>
          </tr>
          <tr>
            <td><strong>Descripción</strong></td>
            <td>{{ serie.description }}</td>
          </tr>
          <tr>
            <td><strong>Genero</strong></td>
            <td>{{ serie.genre }}</td>
          </tr>
          <tr>
            <td><strong>Calificación</strong></td>
            <td id="puntaje">{{ serie.score }}</td>
          </tr>
          <tr>
            <td><strong>Actores</strong></td>
            <td>
              <ul>
                {% for actor in serie.actors.all %}
                  <li>{{ actor.name }}, {{ actor.rol }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <td><strong>Episodios</strong></td>
            <td>
              <ul>
                {% for episode in serie.episode_set.all %}
                  <li><a href="{% url 'catalogue:episode' pk=episode.pk %}">{{ episode.title }}</a></li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="contenedor-acciones">
        <form action="{% url 'catalogue:agregar' %}" method="GET" id="favorito">
          <input type="text" value="{{ serie.id }}" id="fav" hidden>
          <input type="submit" id="submit-favorito" value="{{ data.fav_submit }}" class="btn {{ data.class_fav }}">
        </form>
        <form action="{% url 'catalogue:puntuar' %}" method="GET" id="puntuar">
          <input type="number" min="0" max="10" id="calificacion" required>
          <input type="text" value="{{ serie.id }}" id="calificacion-id" hidden>
          <input type="submit" value="Calificar" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
  <script>
      $("#favorito").on('submit', function (e) {
          e.preventDefault();
          $.ajax({
              url: "/catalogo/agregar/",
              type: "GET",
              data: {"film": $('#fav').val()},
              success: function (json) {
                  console.log("Es favorito: " + json.favorito);
                  if (json.favorito)
                      $("#submit-favorito").val("Quitar de favoritos").removeClass('btn-default').addClass('btn-danger');
                  else
                      $("#submit-favorito").val("Agregar a favoritos").removeClass('btn-danger').addClass('btn-default');
              },
              error: function (xhr, errmsg, err) {
                  consolo.log("ERROR: " + err);
                  consolo.log("ERROR MESSAGE: " + errmsg);
                  console.log(xhr.status + ': ' + xhr.responseText)
              }
          });
      });
      $("#puntuar").on('submit', function (e) {
          e.preventDefault();
          $.ajax({
              url: "/catalogo/puntuar/",
              type: "GET",
              data: {
                  "film": $('#calificacion-id').val(),
                  "calificacion": $('#calificacion').val()
              },
              success: function (json) {
                  console.log("It works?: " + json.ok);
                  $('#puntaje').text(json.puntaje);
              },
              error: function (xhr, errmsg, err) {
                  consolo.log("ERROR: " + err);
                  consolo.log("ERROR MESSAGE: " + errmsg);
                  console.log(xhr.status + ': ' + xhr.responseText)
              }
          });
      });
  </script>
{% endblock %}