.main {
    margin-bottom: 1em;
}
body {
    background: #f5f6ff;
}
h1.title {
    font-size: 50px;
    font-weight: 400;
}

h2.title {
    margin-top:0;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}


.main-center{
    margin: 0 auto;
    max-width: 500px;
    padding: 40px 40px;
}

.reset-button{
    margin-top: 5px;
    max-width: 400px;
    width: 100px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body {
    background-image: url('../images/stock.jpg');
    background-repeat: no-repeat;
    background-color: #3c3c3c;
    background-position: center;
    background-size: cover;
}

.link-color {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
}

.link-color:hover {
    color:whitesmoke;
}